################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/BMEDmgt/.vs
/BMEDmgt/BMEDmgt/obj/Debug
/.vs
/BMEDmgt/BMEDmgt/obj/Release/Package/PackageTmp/Areas/MedEngMgt/Views
