@model BMEDmgt.Areas.MedEngMgt.Models.Delivery

<a class="button" href="@Url.Content("~/AttainFile/Create?id="+ Model.Docid + "&typ=4")" 
    id="FileChooseLink">夾帶檔案</a>
<div id="FileList">
    @Html.Action("List", "AttainFile", new { id = Model.Docid, typ = "4" })
</div>
<div id="AttainFileDialog" class="hidden">

</div>

