

@{
    ViewBag.Title = "合約管理";
}

<h2>合約管理</h2>

<div class="container">
    <div class="row">
        <div>
            <a class="btn btn-primary" href="@Url.Action("Index", "AssetPurchaseContracts")">設備新購合約管理</a>
            <a class="btn btn-primary" href="@Url.Action("Index", "AssetMaintainContracts")">設備維護合約管理</a>
        </div>
    </div>
</div>

