@model BMEDmgt.Areas.MedEngMgt.Models.AppUser
@{
    Layout = null;
}

@{
<table>
    <tr>
        <td>電話：@Model.Ext</td>
        <td>手機：@Model.Mobile</td>
        <td>Email：@Model.Email</td>
    </tr>
</table>
}
