body {
    font-family: Microsoft JhengHei;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#wrapper {
    min-width:960px;
    margin-left:auto;
    margin-right:auto;
}
#leftmenu {
    width:200px;
    float:left;
    margin-left:5px;
}
#rcontent {
    min-width:700px;
    margin-left:10px;
    margin-right:10px;
    float:left;
    overflow:auto;
}
#footer {
    clear:both;
}
