@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.News>


@foreach (var item in Model)
{
    <div class="panel panel-danger">
        <div class="panel-heading">[警報訊息]@Html.DisplayFor(modelItem => item.NewsTitle)</div>
        <div class="panel-body">@Html.DisplayFor(modelItem => item.NewsContent)</div>
    </div>
}
