@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.News>


@foreach (var item in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading">@Html.DisplayFor(modelItem => item.NewsTitle)</div>
        <div class="panel-body">
            <div>
                @Html.DisplayFor(modelItem => item.NewsContent)
            </div>
            <div id="pnlFILES">
                @Html.Action("List", "AttainFiles", new { id = item.NewsId, typ = "9" })
            </div>
        </div>
    </div>
}
